@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Poppins:wght@200&family=Roboto:ital,wght@0,100;0,300;0,900;1,100;1,300&display=swap'); */



* {
    /* font-family: "Poppins",sans-serif; */
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* html {
    font-size: 62.5%;
  } */


  .cover_image {
    background-image: linear-gradient(rgb(246, 245, 239,0.7), rgba(255,255,255,0.7)), url("../Assets/cover.jpg");;
    background-position: center center;
    background-repeat:  no-repeat;
    background-size:  100% 100%;
}

.header_text {
    margin-top: 7%;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    z-index: 0;
    letter-spacing: -.0175em;
    -webkit-font-feature-settings: "liga" off;
    font-feature-settings: "liga" off;
    color: #07211d;
}

.one {
    color: #24a791;
    font-style: italic;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.home_text_1{
    /* font-weight: bold; */
    color:black;
    font-size: 1.5em;

}


.bookBTN1 {
    background: linear-gradient(68.7deg,#24a791 13.2%,green 29.8%,#24a791 48.9%,#afe1af 68.2%,#24a791 86.4%);
    background-size: 800% 400%;
    padding: 1em 2em;
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    transition: all .5s ease-in-out;
    -webkit-animation: gradient 10s cubic-bezier(.62,.28,.23,.99) infinite both;
    animation: gradient 10s cubic-bezier(.62,.28,.23,.99) infinite both;
}

.eng_image {
    max-width: 100%;
}




.why_adapt .title-why {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3em;
    line-height: 52px;
    letter-spacing: -.01em;
    color: #001f27;
}

.margin_point-5, .my-5 {
    margin-top: 3rem!important;
}

.why_adapt .why_flex {
    display: flex;
    align-content: center;
    margin-top: 0.1rem;
}

.why_adapt .why_subtitle {
    font-size: 20px;
    line-height: 34px;
    letter-spacing: -.0035em;
    color: #001f27;
}

.faq {
    margin:2em;
    padding-bottom: 4rem;
    
}

.why_enro{
    font-weight: bold;
    color:#001f27;
    font-size: 3em;
}

.why_enroll_image {
    background-image: url("../Assets/why_enroll.jpeg");
    background-position: center center;
    background-repeat:  no-repeat;
    background-size:  100% 100%;
}